Options -Indexes
DirectoryIndex index.php
<IfModule mod_headers.c>
Header always set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_mime.c>
AddType application/manifest+json .webmanifest
</IfModule>
<IfModule mod_headers.c>
<Files "sw.js">
Header set Cache-Control "no-cache"
</Files>
</IfModule>
